JENKINS_ADMIN_USER={{ jenkins_admin_user }}
JENKINS_ADMIN_PASSWORD={{ jenkins_admin_password }}
JENKINS_HTTP_PORT={{ jenkins_http_port }}
JENKINS_AGENT_PORT={{ jenkins_agent_port }}
JENKINS_RUNNER_NAME={{ jenkins_runner_name }}
JENKINS_RUNNER_LABEL={{ jenkins_runner_label }}
JENKINS_RUNNER_HOST={{ jenkins_runner_host }}
JENKINS_RUNNER_SSH_PORT={{ jenkins_runner_ssh_port }}
JENKINS_RUNNER_USER={{ jenkins_runner_user }}
JENKINS_RUNNER_REMOTE_FS={{ jenkins_runner_remote_fs }}
JENKINS_RUNNER_EXECUTORS={{ jenkins_runner_executors }}
JENKINS_RUNNER_PRIVATE_KEY_B64={{ jenkins_runner_private_key | b64encode }}
JENKINS_DOCKER_REGISTRY={{ jenkins_docker_registry }}
JENKINS_MINIO_ENDPOINT={{ jenkins_minio_endpoint }}
JENKINS_MINIO_BUCKET={{ jenkins_minio_bucket }}
JENKINS_SONARQUBE_URL={{ jenkins_sonarqube_url }}
JENKINS_TRAEFIK_NETWORK={{ jenkins_traefik_network }}
DOCKER_REGISTRY={{ jenkins_docker_registry }}
MINIO_ENDPOINT={{ jenkins_minio_endpoint }}
MINIO_BUCKET={{ jenkins_minio_bucket }}
SONARQUBE_URL={{ jenkins_sonarqube_url }}
TRAEFIK_NETWORK={{ jenkins_traefik_network }}
GIT_REPO_URL={{ repo_clone_url }}
GIT_USER={{ jenkins_git_user }}
GIT_TOKEN={{ jenkins_git_token }}
SONARQUBE_TOKEN={{ jenkins_sonarqube_token }}
DOCKER_USER={{ jenkins_docker_user }}
DOCKER_PASSWORD={{ jenkins_docker_password }}
MINIO_ACCESS_KEY={{ jenkins_minio_access_key }}
MINIO_SECRET_KEY={{ jenkins_minio_secret_key }}
CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs
