SONARQUBE_IMAGE={{ sonarqube_image }}
SONARQUBE_POSTGRES_IMAGE={{ sonarqube_postgres_image }}
SONARQUBE_HTTP_PORT={{ sonarqube_http_port }}
SONARQUBE_DB_NAME={{ sonarqube_db_name }}
SONARQUBE_DB_USER={{ sonarqube_db_user }}
SONARQUBE_DB_PASSWORD={{ sonarqube_db_password }}
