SONARQUBE_IMAGE={{ sonarqube_image }}
SONARQUBE_POSTGRES_IMAGE={{ sonarqube_postgres_image }}
SONARQUBE_HTTP_PORT={{ sonarqube_http_port }}
SONARQUBE_DB_NAME={{ sonarqube_db_name }}
SONARQUBE_DB_USER={{ sonarqube_db_user }}
SONARQUBE_DB_PASSWORD={{ sonarqube_db_password }}
{% if sonarqube_saml_enabled %}
SONAR_AUTH_SAML_ENABLED=true
SONAR_AUTH_SAML_APPLICATION_ID={{ sonarqube_saml_sp_entity_id }}
SONAR_AUTH_SAML_PROVIDER_NAME={{ sonarqube_saml_provider_name }}
SONAR_AUTH_SAML_PROVIDER_ID={{ sonarqube_saml_idp_entity_id }}
SONAR_AUTH_SAML_LOGIN_URL={{ sonarqube_saml_idp_sso_url }}
SONAR_AUTH_SAML_CERTIFICATE={{ sonarqube_saml_cert }}
SONAR_AUTH_SAML_USER_LOGIN=login
SONAR_AUTH_SAML_USER_NAME=name
SONAR_AUTH_SAML_USER_EMAIL=email
SONAR_AUTH_SAML_GROUP_NAME=groups
{% endif %}
